<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.lara.ApplicationStartListener"/>
	<bean class="com.lara.ApplicationStopListener" />
	<bean class="com.lara.AppStart"/>
	<bean class="com.lara.AppStop" />
	<bean id="cp" class="com.lara.CoustomPublisherjava" />
	<bean class="com.lara.CoustomListener1"/>
	<bean class="com.lara.CoustomListener2" />
		<bean class="com.lara.CoustomListener3" />		
	</beans>